@keyframes start-animation {
  0% {
    transform: scale(1);
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: scale(35);
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes no-scroll {
  0% {
    overflow: hidden;
  }
  100% {
    overflow-y: auto;
  }
}
body {
  padding: 0;
  margin: 0;
  overflow: auto;
  background-color: black;
  color: white;
  background-image: url('background-2.jpg');
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans', sans-serif, Arial;
  animation-name: no-scroll;
  animation-duration: 0.1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  overflow: hidden;
}
h1 {
  font-size: 120px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif, Arial;
  margin: 0;
}
h2 {
  font-size: 24px;
  margin: 0;
}
p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.intro {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  animation-name: start-animation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100vh;
  align-items: center;
}
.container {
  opacity: 0;
  animation-name: show-page;
  animation-duration: 1s;
  animation-delay: 3.9s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5vh;
}
label {
  margin-top: 15px;
  text-transform: uppercase;
  opacity: 0.66;
  font-size: 12px;
}
input {
  padding: 15px 20px;
  border-radius: 10px;
  width: 320px;
  margin-top: 15px;
  margin-bottom: 25px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error {
  color: red;
  text-align: center;
  display: none;
  margin-top: 0px;
  font-size: 14px;
}
.next-step {
  display: none;
  flex-direction: column;
  align-items: center;
}
.next-step svg {
  width: 100px;
  height: 100px;
}

.next-step p {
  font-size: 14px;
}

a {
  color: #1e8ffe;
}
