 
<html>
  <head>
    <title>404 Not Found</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet" />
    <style>
      svg {
        width: 100px;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        height: 100vh;
        background-color: #151a30;
        margin:0;
      }
      h1{
        font-size: 120px;
        margin: 0;
      }
      h2{
        font-size: 40px;
        margin-top: 0;
      }
      p {
        opacity: 0.5;
        margin: 0;
      } 
      *{
        color: white;
        font-weight: 300;
        text-align: center;
      }
    </style>
  </head>
  <body>

    <h1>⌂</h1>

    <h2>500 Internal Server Error</h2>

    <h3>Ein Error auf unserem Server ist aufgetreten.</h3>
    <p>Bitte versuche es später nochmal.</p>
 
  </body>
</html>
